@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Lato&family=Rubik&display=swap');

.tableBooks{
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 45%;
    border-radius: 1px;
    margin-left: 25%;
    box-shadow: 3px solid blacks;
    position: static;
}

.c1{
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: 'Lato', sans-serif;
}

.c2{
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'Lato', sans-serif;
}


.container1{
  background-color: rgb(206, 206, 206);
  padding: 20px;
  width: 100%;
  margin-top: 3%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

table{
	width: 600px;
	border-collapse: collapse;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background: rgb(118, 122, 134);
  text-align: center;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
  color: #fff;
  font-family: 'Lato', sans-serif;
}

th {
	text-align: center;
}


th {
		background-color: #3b3f4e;
	}


footer{
    text-align: center; 
    font-family: 'Lato', sans-serif;
  }

  .footerHome{
    background-color: black;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 15px 15px;
    font-size: large;
    bottom: 5%;
    width: 100%;
    position: relative;
  }

  .topPage{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .Image2{
    width: 100%;
   }
   
    .ImageText{
     text-align: center;
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     font-family: 'Lato', sans-serif;
     font-size: 40px;
   }

   .ImageText button {
    border: 3px solid #ffffff;
    display: inline-block;
    border-radius: 4px;
    padding: 15px 35px;
    color: #ffffff;
    background-color:transparent;
    text-align: center;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-size: x-large;
  }
 
  .Layout{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: 'Lato', sans-serif;
    position: static;
    display: inline-block;
  }

  hr{
    margin-right: 13.5%;
    margin-left: 10%;
    color: #eeeeee;
    margin-bottom: 1%;
  }

  /*
  html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
*/